<!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img style="height: 50px" src="assets/image/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->

   <ul class="navbar-nav mr-auto text-uppercase">
        <li class="nav-item active">
          <a class="nav-link font-weight-normal" href="dashboard" style="color: white">Home</a>
        </li> 
      </ul> 

      <!-- Links -->
      
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
   <li class="nav-item d-none d-xl-inline-block" alt="Support" id="navbar-static-support">
          <a href="" class="nav-link waves-effect" style="color: white">
          <i class="fa fa-bell" >2</i><span class="d-none d-xl-inline-block ml-1">Notification</span>
          </a>
        </li>
     <!--    <li class="nav-item d-none d-xl-inline-block" alt="Support" id="navbar-static-support">
          <a href="" class="nav-link waves-effect" style="color: white">
          <i class="fas fa-question-circle"></i><span class="d-none d-xl-inline-block ml-1">Help</span>
          </a>
        </li> -->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fa fa-university" style="color: white"></i><span class="d-none d-xl-inline-block ml-1" style="color: white">You are in ABC Bank </span></a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            
            <a class="dropdown-item" href="login">Logout</a>
           
          </div>
        </li>
      </ul>

    </div>
    <!-- Collapsible content -->
    </div>

  </nav>
  
  <!--/.Navbar-->
  <div class="abc">
<div class="container my-5">
  <!--Section: Content-->
  <section>

    <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
    <!-- Section heading -->
    <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have some other questions, see our support center.</p>

    <div class="row">
      <div class="col-md-12 col-lg-10 mx-auto mb-5">
      
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card border-top border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                aria-controls="collapseOne1">
                <h5 class="black-text font-weight-normal mb-0">
                  Is this a secure site for purchases? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
              data-parent="#accordionEx">
              <div class="card-body">
                Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
              </div>
            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="black-text font-weight-normal mb-0">
                  How long are your contracts? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
              data-parent="#accordionEx">
              <div class="card-body">
                Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.
              </div>
            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                aria-expanded="false" aria-controls="collapseThree3">
                <h5 class="black-text font-weight-normal mb-0">
                  Can I cancel my subscription? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
              data-parent="#accordionEx">
              <div class="card-body">
                You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.
              </div>
            </div>

          </div>
          <!-- Accordion card -->
          
          <!-- Accordion card -->
          <div class="card border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                aria-expanded="false" aria-controls="collapseThree4">
                <h5 class="black-text font-weight-normal mb-0">
                  Can I request refund? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
              data-parent="#accordionEx">
              <div class="card-body">
                Unfortunately, not. We do not issue full or partial refunds for any reason.    
              </div>
            </div>

          </div>
          <!-- Accordion card -->

        </div>
        <!-- Accordion wrapper -->
        
      </div>
    </div>

  </section>

  
</div>

  <!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
 <br>
  <div class="container mt-5 mb-4 text-center">
 <div class="row md-3">
   <!-- Grid column -->
      <div class="col-md-6 offset-md-2">
            <h6 class="text-uppercase font-weight-bold">
                <strong style="color:white">ABC Bank</strong>
            </h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block" style="width: 60px;">
            <p style="color:white">ABC provides a full range of services in consumer, SME and corporate banking. As a bank born and bred in Asia, ABC understands the intricacies of doing business in the region’s most dynamic markets. ABC is committed to building lasting relationships with customers, and positively impacting communities through supporting social enterprises, as it banks the Asian way.</p>
        </div>
      <!-- Grid column -->
     <!--  <hr class="clearfix w-100 d-md-none pb-3"> -->
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 ">
            <h6 class="text-uppercase font-weight-bold">
                <strong style="color:white">Contact</strong>
            </h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" >
            <p style="color:white">
                <i class="fas fa-home  mr-3"></i> Bangalore-562110, India</p>
            <p style="color:white">
                <i class="fas fa-envelope mr-3"></i> www.abcbank.com</p>
            <p style="color:white">
                <i class="fa fa-phone mr-3"></i> 1800-2345-2345</p>
        </div>
      </div>
      <!-- Grid column -->
<div class="row md-3">
   <div class="col-md-4 ">
   </div>
      <div class="col-md-4 " style="color:white" >
         <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
            <a class="mx-3" role="button" href="terms">Terms & Conditions</a>
          </li>
          <li>
            <a class="mx-3" role="button" href="faq">FAQs</a>
          </li>
           <li>
            <a class="mx-3" role="button"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a class="mx-3" role="button"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 ">
   </div>
    </div>

  </div>


</footer>

<!--/.Footer-->
</div>