<!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img style="height: 50px" src="assets/image/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->

   <ul class="navbar-nav mr-auto text-uppercase">
        <li class="nav-item active">
          <a class="nav-link font-weight-normal" href="#" style="color: white">Home</a>
        </li> 
      </ul> 

      <!-- Links -->
      
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
   <li class="nav-item d-none d-xl-inline-block" alt="Support" id="navbar-static-support">
          <a href="" class="nav-link waves-effect" style="color: white">
          <i class="fa fa-bell" >2</i><span class="d-none d-xl-inline-block ml-1">Notification</span>
          </a>
        </li>
       <!--  <li class="nav-item d-none d-xl-inline-block" alt="Support" id="navbar-static-support">
          <a href="" class="nav-link waves-effect" style="color: white">
          <i class="fas fa-question-circle"></i><span class="d-none d-xl-inline-block ml-1">Help</span>
          </a>
        </li> -->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fa fa-university" style="color: white"></i><span class="d-none d-xl-inline-block ml-1" style="color: white">You are in ABC Bank </span></a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            
            <a class="dropdown-item" href="login">Logout</a>
           
          </div>
        </li>
      </ul>

    </div>
    <!-- Collapsible content -->
    </div>

  </nav>
  
  <!--/.Navbar-->
  
<div class="abc">
<div class="container my-5">
  <!--Section: Content-->
  <section>
<br><br>
    <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">Terms and conditions</h6>
    <!-- Section heading -->
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers.</p>

    <div class="row">
      <div class="col-md-12 col-lg-10 mx-auto mb-5">
      
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card border-top border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                aria-controls="collapseOne1">
                <h5 class="black-text font-weight-normal mb-0">
                  Home Loan <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
              data-parent="#accordionEx">
              <div class="card-body">
                Home Loan EMI (or equated monthly instalment) is a fixed monthly instalment paid by borrowers to ABC against the loan taken for repayment of your loan and payment of interest to the bank. Every month, it is due on a fixed day of the month till your loan is fully paid back.
SBI offers Home Loans with loan tenure upto 35 years, and the lowest EMI offered by the bank is Rs. 72 per lakh, Lowest Rate of interest offered by ABC on Home Loan is 8.15% and is one of the most popular housing loans in India.<br>
                
              </div>
            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="black-text font-weight-normal mb-0">
                Car Loan<i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
              data-parent="#accordionEx">
              <div class="card-body">
               To be eligible for an ABC Bank New or Used Car Loan, applicants must adhere to the below-mentioned car loan eligibility criteria:
Applicant/individual must be aged between 21 years and 65 years. <br>
The applicant must be either a Central/State Government employee, a professional or self-employed individual, or an individual who is engaged in agricultural and allied activities.
              </div>
            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card border-bottom-0 border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                aria-expanded="false" aria-controls="collapseThree3">
                <h5 class="black-text font-weight-normal mb-0">
                 Education Loan<i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
              data-parent="#accordionEx">
              <div class="card-body">
                If you are searching for an education loan, the interest rates for such loans range from 8.45% to 15.2% pa and come with flexible tenures up to 15 years. The amount that you can borrow can be Rs. 1.5 crore or more depending on the banks policies. Education loans can also be used to gain tax benefits under Section 80 (E).<br>
                Mentioned below is the general eligibility criteria for education loans in India:
Must be a resident of India, 
Must have a secured admission into a recognized course in India or abroad,
NRI applicants must have a valid Indian Passport,
Applicant must provide collateral enforceable in India.
              </div>
            </div>

          </div>
          <!-- Accordion card -->
          
          <!-- Accordion card -->
          <div class="card border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                aria-expanded="false" aria-controls="collapseThree4">
                <h5 class="black-text font-weight-normal mb-0">
                 Personal Loan <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
              data-parent="#accordionEx">
              <div class="card-body">
                Getting Personal Loans online is easier now than ever before. You get the following Personal Loan benefits:
Get cash in your account in 30 seconds
The interest rate will not increase during your loan tenure
Minimal documentation
Choose your tenure from 12 to 60 months.    
              </div>
            </div>

          </div>
          <!-- Accordion card -->
 <!-- Accordion card -->
          <div class="card border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                aria-expanded="false" aria-controls="collapseThree4">
                <h5 class="black-text font-weight-normal mb-0">
                Current Account <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
              data-parent="#accordionEx">
              <div class="card-body">
                These terms and conditions form the contract between the Customer and ABC Bank. The Customer shall apply to ABC Bank in the prescribed form for operation of the Account and availing of the related Services. By applying for opening the Account, the Customer acknowledges that he / she has /have read understood and accepted these terms and conditions.    
              </div>
            </div>

          </div>
          <!-- Accordion card -->

           <!-- Accordion card -->
          <div class="card border-left border-right border-light">

            <!-- Card header -->
            <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                aria-expanded="false" aria-controls="collapseThree4">
                <h5 class="black-text font-weight-normal mb-0">
                Savings account <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
              data-parent="#accordionEx">
              <div class="card-body">
                The terms and conditions (“Terms”) set out below, together with the AOF, account charges and any other conditions which may be implied by law shall govern the operation of the
current account and other related services offered by eBoR branches to the Customer. By applying for opening the Account, the Customer acknowledges that he / she has read, understood and accepted these terms and conditions, which form a part of the Customer’s application to the Bank.
   
              </div>
            </div>

          </div>
          <!-- Accordion card -->
        </div>
        <!-- Accordion wrapper -->
        
      </div>
    </div>

  </section>

  </div>
   <!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
 <br>
  <div class="container mt-5 mb-4 text-center">
 <div class="row md-3">
   <!-- Grid column -->
      <div class="col-md-6 offset-md-2">
            <h6 class="text-uppercase font-weight-bold">
                <strong style="color:white">ABC Bank</strong>
            </h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block" style="width: 60px;">
            <p style="color:white">ABC provides a full range of services in consumer, SME and corporate banking. As a bank born and bred in Asia, ABC understands the intricacies of doing business in the region’s most dynamic markets. ABC is committed to building lasting relationships with customers, and positively impacting communities through supporting social enterprises, as it banks the Asian way.</p>
        </div>
      <!-- Grid column -->
     <!--  <hr class="clearfix w-100 d-md-none pb-3"> -->
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 ">
            <h6 class="text-uppercase font-weight-bold">
                <strong style="color:white">Contact</strong>
            </h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" >
            <p style="color:white">
                <i class="fas fa-home  mr-3"></i> Bangalore-562110, India</p>
            <p style="color:white">
                <i class="fas fa-envelope mr-3"></i> www.abcbank.com</p>
            <p style="color:white">
                <i class="fa fa-phone mr-3"></i> 1800-2345-2345</p>
        </div>
      </div>
      <!-- Grid column -->

<div class="row md-3">
  <br>
   <div class="col-md-4 ">
   </div>
      <div class="col-md-4 " style="color:white" >
         <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
            <a class="mx-3" role="button" href="terms">Terms & Conditions</a>
          </li>
          <li>
            <a class="mx-3" role="button" href="faq">FAQs</a>
          </li>
           <li>
            <a class="mx-3" role="button"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a class="mx-3" role="button"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 ">
   </div>
    </div>

  </div>


</footer>

<!--/.Footer-->
</div>